<!DOCTYPE html>
<html lang="en">
  <head>
    <title>insta485</title>
    <script src="../static/js/index.js"></script>
  </head>

  <body>
    <!-- Top Navigation -->
    <header>
      <nav>
        <a href="/">logoSymbol</a> | <a href="/explore/">Explore</a> |
        <a href="/users/{{ logged_in_user }}/">{{ logged_in_user }}</a>
      </nav>
      <hr />
    </header>

    <!-- Main Content -->
    <main>
      {% for post in posts %}
      <article>
        <!-- Post Header -->
        <p>
          <a href="/users/{{ post.owner }}/">{{ post.owner }}</a>
          <img src="/uploads/{{ post.user_filename }}" alt="Post file" />
          <a href="/posts/{{ post.postid }}/">{{ post.created }}</a>
        </p>
        <p>
          <img src="/uploads/{{ post.filename }}" alt="Post file" />
        </p>

        <p>{{ post.likes }} like{{ 's' if post.likes != 1 else '' }}</p>

        <!-- Comments Section -->
        <section>
          {% for comment in post.comments %}
          <p>
            <a href="/users/{{ comment.owner }}/">{{ comment.owner }}</a> {{
            comment.text }}
          </p>
          {% endfor %}
        </section>

        {% if post.liked %}
        <form
          action="/likes/?target={{currentUrl}}"
          method="post"
          enctype="multipart/form-data"
        >
          <input type="hidden" name="operation" value="unlike" />
          <input type="hidden" name="postid" value="{{post.postid}}" />
          <input type="submit" name="unlike" value="unlike" />
        </form>
        {% else %}
        <form
          action="/likes/?target={{currentUrl}}"
          method="post"
          enctype="multipart/form-data"
        >
          <input type="hidden" name="operation" value="like" />
          <input type="hidden" name="postid" value="{{post.postid}}" />
          <input type="submit" name="like" value="like" />
        </form>
        {% endif %}

        <!-- Comment Form -->
        <section>
          <form action="/comments/" method="post" enctype="multipart/form-data">
            <input type="hidden" name="operation" value="create" />
            <input type="hidden" name="postid" value="{{ post.postid }}" />
            <input type="text" name="text" required />
            <input type="submit" name="comment" value="Comment" />
          </form>
        </section>
      </article>
      <hr />
      {% endfor %}
    </main>
  </body>
</html>
